/* global selectors */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* header */

header {
  height: 69px;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid seashell;
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.logo {
  height: 50px;
}

.top-nav {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.top-nav li {
  margin-right: 30px;
  text-decoration: underline;
}

/* main */

main {
  position: relative;
  top: 69px;
}

.hero {
  min-height: 700px;
  width: 1200px;
  margin: 0 auto;
  background-image: url("./assets/img-mission-background.jpg");
  background-size: cover;
  flex-grow: 2;
}

.hero .hero-title {
  background-color: black;
  line-height: 2;
  position: relative;
  top: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tea-of-the-month {
  min-width: 1000px;
  margin: 80px auto;
}

.tea-of-the-month .tea-title {
  line-height: 2;
  margin-bottom: 20px;
}

.tea-of-the-month img {
  width: 300px;
  height: 200px;
  display: flex;
}

.tea-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

.tea-gallery figure {
  margin-left: 30px;
  margin-bottom: 30px;
  flex-shrink: 1.5;
}

.tea-gallery figcaption {
  margin-top: 10px;
}

.tea-gallery .row-1 {
  display: flex;
  flex-direction: row;
}

.tea-gallery .row-2 {
  display: flex;
}

.locations {
  background-image: url(./assets/img-locations-background.jpg);
  width: 1200px;
  min-height: 500px;
  margin: 0 auto;
  background-size: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.locations h2 {
  margin-bottom: 15px;
}

.locations .address {
  display: flex;
  justify-content: center;
}

.city-1,
.city-2,
.city-3 {
  background-color: black;
  opacity: 1;
  line-height: 3;
  width: 300px;
  margin-left: 40px;
}

/* footer */

footer {
  width: 100%;
}

footer .contact {
  margin: 55px 0 30px 0;
  height: 200px;
  line-height: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.copyright {
  margin-bottom: 30px;
  margin-left: 20px;
  text-align: left;
}
